#charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
}

header {
    background-color: black;
    text-align: center;
    color: white;
}

header > h1 {
    padding: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

a {
    color:white;
    text-decoration: none;
    font-weight: bolder;
}

html, body {
    min-height: 100vh;
}

section {

}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}